h3 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
  margin-top: 2em;
  text-align: center;
}

h5 {
  font-size: 18px;
}

.blog-section {
  background: #f8f8f8;
}

.blog {
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  color: #797979;
}

.blog-img img {
  width: 386.67px;
  height: 281px;
}

.blog-lists {
  margin-top: 1em;
}

.blog-lists li {
  padding: 20px;
}

.blog-describe {
  color: #797979;
  font-size: 16px;
  font-weight: 400;
}

.blog-section button {
  text-align: center;
  align-items: center;
  font-weight: 550;
  font-size: 16px;
  line-height: 17.6px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #4e42d9;
  border-radius: 4px;
  color: white;
}

.blog-section button:hover {
  color: #4e42d9;
  background: rgba(78, 66, 217, 0.18);
}

.center-button button {
  margin: 3em;
}

h5 {
  margin: 5px 0px;
  font-size: 18px;
}

.dates {
  margin: 6px 0px;
}

/* Desktop View */
@media (min-width: 768px) {
  .blog-lists {
    display: flex;
    justify-content: space-between;
  }
}
