/* Primary section */

h1 {
  font-weight: 700;
  font-size: 38px;
  color: #3b3950;
}

.hero-section p {
  margin-top: 15px;
  color: #797979;
}

.banner-text {
  width: 500px;
}

.hero-image {
  text-align: center;
}

.hero-image img {
  width: 578px;
  height: 584px;
}

.primary-buttons {
  padding-top: 18px;
}

.primary-buttons button {
  font-weight: 600;
  font-size: 16px;
  line-height: 17.6px;
  color: #4e42d9;
  background: rgba(78, 66, 217, 0.18);
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.primary-buttons button:hover {
  background: #4e42d9;
  border-radius: 4px;
  color: white;
}

/* Desktop view */
@media (min-width: 768px) {
  .primary-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
