/* Navbar */

.logo {
  width: 191px;
  height: 45px;
  margin-top: 16px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

nav ul li a:hover {
  border-radius: 4px;
  color: #4e42d9;
}

.contact-btn {
  color: white;
  background-color: #4e42d9;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 500;
  transition: 300ms ease-in-out;
}

.contact-btn:hover {
  background-color: rgba(78, 66, 217, 0.18);
  color: #4e42d9;
  font-weight: 600;
  border-radius: 4px;
}
