/* Banner */

.banner-img img {
  width: 100%;
}

/* Main News Section */

.main-news h1 {
  font-weight: 700;
  font-size: 38px;
  color: #3b3950;
}

.main-news {
  width: 784px;
  margin-top: 80px;
  padding-bottom: 50px;
}

.name {
  color: #4e42d9;
  font-weight: 600;
}

blockquote {
  margin: 32px 0;
  border-left: 3px solid #4e42d9;
  border-radius: 2px;
  padding-left: 30px;
  font-size: 20px;
  color: #3b3950;
}

.main-news h2 {
  font-weight: 600;
  font-size: 32px;
  color: #3b3950;
}

.article-section h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #3b3950;
}

.main-news p {
  color: #3b3950;
}

.date {
  color: #3b3950;
  margin-top: 5px;
}

.article-section {
  margin-bottom: 20px;
}
