.secondary-section .services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 313px;
  left: 120px;
  top: 782px;
}

.secondary-section {
  margin-bottom: 3em;
}

.services li {
  width: 35%;
  text-align: center;
}

.services h4 {
  line-height: 37.5px;
}

.services div {
  color: #797979;
}
