.secondary-section .services {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 1200px;
  height: 313px;
  left: 120px;
  top: 782px;
}

.services {
  margin-top: 10px;
}

.services li {
  width: 32%;
  text-align: center;
}
