* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 12px;
}

body {
  font-family: "Poppins", sans-serif;
}

ul li {
  list-style: none;
}

.center-button {
  text-align: center;
}

button {
  cursor: pointer;
  transition: 300ms ease-in-out;
}
